<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activation</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      line-height: 1.5;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 10px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h1 style="text-align: center">Account Activation</h1>
      <p th:text="'Hello ' + ${username} + ','"></p>
      <p>
        Thank you for signing up! Please use the following activation code to
        activate your account:
      </p>
      <div style="font-size: 36px; text-align: center; margin-bottom: 20px">
        <span th:text="${activation_code}"></span>
      </div>
      <div style="text-align: center; margin-top: 20px">
        <a
          th:href="${confirmationUrl}"
          target="_blank"
          style="
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
          "
          bgcolor="#007bff"
          >Activate your account</a
        >
      </div>
    </div>
  </body>
</html>
